@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section */
header{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
    font-family: merriweather;
    height: 600px;
    width: 1320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-subtitle{
    margin: 0px auto;
    padding: 177PX 0PX;
    height: 236px;
    width: 632px;
}
.upper-title{
    text-align: center;
    font-size: 32px;
    color: #ffffff;
}
.lower-title{
    text-align: center;
    color: #ffffff ;
    font-size: 72px;
    width: 632px;
    font-weight: 900;
}
/* Header area ends here */

/* main section starts here */
section{
    width: 1320px;
    margin: 30px 0;
}
     /* disacount section */

.discount-container{
    height: 806px;
    width: 802.9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}
.discount-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
}
.discount-subtitles{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 48px 0 16px 0;
}
.discount-catagory{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}
.discount-img{
width: 802.9px;
height: 500px;
}
    /* discount section ends here */

    /* party section starts here */

.party{
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Vectorrr.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.party-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 39px   ;
}
.party-greeting{
    width: 642px;
    height: 176px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    text-align: left;
}
.party-subtitle{
    height: 60px;
    width: 697px;
    margin: 32px 0px 48px 0px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.party-join{
    height: 24px;
    width: 103px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

   /* party section ends here */

      /* Venue section starts here */

.venue{
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;

}
.venue-container{
    width: 549px;
    height: 272px;
}
.venue-location{
    font-family: Inter;
    display: flex;
    flex-direction: column;
    gap: 56px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}
.color{
    color: red;
}
.venue button{

    width: 167px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 32px 16px 32px;
    margin: 48px auto;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

    /* Venue section ends here */

    /* offer section starts here */
.offer{
    height: 463px;
    display: flex;
    align-items: center;
    }
.new-offer{
    width: 393px;
    height: 255px;
}
.new-offer-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}
.offer-status{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    text-transform: capitalize;
    margin: 16px 0px 22px 0px;
}
.offer-subtitle{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.offer-celebrate img{
    width: 364.84px;
    height: 364.84px;
    border: 10px solid transparent;
    padding: 15px;
    border: 13px solid red;
    /* border-image: url("../images/Rectangle\ 2.png") 25 stretch; */
    border-radius: 50%;
    margin: 0px 118px 0px 60px;
}
.year{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}
.year-subtitle{
    width: 276px;
    height: 96px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.offer .year-last-description img{
    width: 140px;
    height: 140px;
}

   /* offer section ends here */
    
   /* offer section starts here */

.holiday-offer{
    background: url("../images/Rectangle\ 2.png" ) ;
    background-position:40% bottom;
    background-repeat: no-repeat;
    height: auto;
}
.holiday-offer-container{
    width: 1068px;
    height: 260px;
    margin: 0px auto;
}

.offer-title{
    /* width: 263px; */
    height: 29px;
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.h-o-title{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.h-o-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.holiday-offer-image{
    height: 662px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 208px;
}
.discount-half{
    width: 206px;
    height: 206px;
    margin-right: 49px;
    margin-bottom: 90px;
}
/* offer section ends here */


/* portfolio section starts here */

.portfolio-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}
.portfolio-header{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    text-transform: capitalize;
    margin: 16px 0 22px 0;
}
.portfolio-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 48px;
    }
.portfolio-image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
/* portfolio section ends here */

/* portfolio section starts here */